@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=League+Spartan:wght@100..900&display=swap');
@import 'tailwindcss';

@theme{
  --font-base:'League Spartan', "sans-serif";
}

@layer base{
  html{
    font-family: var(--font-base);
  }
  body{
    background-color: #fcfbfc;
    overflow-x: hidden;
  }
}

.input-box{
  @apply w-full gap-3 text-sm text-black bg-slate-100/50 rounded px-4 py-3 mb-3 mt-3 border border-slate-300 outline-none; 
}

.btn-primary{
  @apply w-full text-sm font-medium text-white bg-blue-500 shadow-lg shadow-purple-600/5 p-[10px] rounded-md my-1 hover:bg-blue-600 cursor-pointer
}
.card{
  @apply bg-white p-6 rounded-2xl shadow-md shadow-gray-100 border border-gray-200/50;
}

.card-btn{
  @apply flex items-center gap-3 text-[12px] font-medium text-gray-700 hover:text-blue-500 bg-gray-50 hover:bg-blue-50 px-4 py-1.5 rounded-lg border border-gray-200/50 cursor-pointer; 
}